<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 my-2" th:href="@{/}">Auto Moto Manager
            <!--            <img th:src="@{/images/motorcycle.png}" alt="o" height="64">-->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav .ms-md-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown ms-3" data-bs-theme="dark" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle fs-4" th:href="@{/}" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item fs-5"
                           sec:authorize="isAuthenticated()"
                           th:href="@{models/add}">
                            Add Model</a>
                        <a class="dropdown-item fs-5" href="#">Add Vehicle</a>
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>

                <li class="nav-item ms-3" sec:authorize="!isAuthenticated()">
                    <a class="nav-link fs-4" aria-current="page"
                       th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item ms-3" sec:authorize="!isAuthenticated()">
                    <a class="nav-link fs-4" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item ms-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link fs-4" th:href="@{/}">Some Tab</a>
                </li>
                <li class="nav-item ms-3" sec:authorize="isAuthenticated()">
                    <form th:action="@{/users/logout}" th:method="POST">
                        <input type="submit" class="nav nav-link fs-4 bg-transparent border-0 text-danger"
                               th:href="@{/users/logout}" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>