<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" ,
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
<header>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</header>

<section class="user_form container text-light text-center">
    <div><img th:src="@{/images/cartow.png}" alt="Parts" class="img-fluid"></div>
    <h4 class="mt-3 text-danger">Woops! Something went terribly wrong! We are looking to see what happened!
    </h4>
    <a class="btn btn-danger my-5" th:href="@{/}">Go home ...</a>
</section>

</body>
</html>