<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<header>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</header>

<section class="user_form container text-white">

    <div class="container-fluid ">
        <img th:src="@{/images/car.png}" class=" img-fluid">
    </div>
    <h3 class=" mb-5">
        Add Vehicle:
    </h3>
    <form th:action="@{/vehicles/add}"
          th:method="POST"
          th:object="${createVehicleDTO}">
        <div class="form-group row mb-3">
            <div class="col-md-6">
                <label for="model" class="col-form-label fs-6">Model: *</label>
                <div>
                    <select th:field="*{model}"
                            th:errorclass="'is-invalid bg-danger'"
                            id="model"
                            name="model"
                            class="form-select"
                            aria-label="Default select example"
                            required>
                        <option value="" selected>Select a model:</option>
                        <optgroup th:each="make : ${modelsByMake.keySet()}"
                                  th:label="${make}">
                            <option th:each="model : ${modelsByMake.get(make)}"
                                    th:text="${model}"
                                    th:value="${model}">Model
                            </option>
                        </optgroup>
                    </select>
                    <small id="modelError"
                           class="invalid-feedback rounded text-center"
                           th:text="${#strings.listJoin(#fields.errors('model'), ' ')}">
                        Invalid model!</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="vin" class="col-form-label fs-6">VIN:</label>
                <div>
                    <input th:field="*{vin}"
                           th:errorclass="'is-invalid bg-danger'"
                           id="vin"
                           name="vin"
                           type="text"
                           class="form-control fs-6"
                           placeholder="VIN">
                    <small id="vinError"
                           class="invalid-feedback rounded text-center"
                           th:text="${#strings.listJoin(#fields.errors('vin'), ' ')}">
                        Invalid VIN!</small>
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <label for="year" class="col-form-label fs-6">Year: *</label>
                <div>
                    <input th:field="*{year}"
                           th:errorclass="'is-invalid bg-danger'"
                           id="year"
                           name="year"
                           type="number"
                           class="form-control fs-6"
                           placeholder="YYYY"
                           required>
                    <small id="yearError"
                           class="invalid-feedback rounded text-center"
                           th:text="${#strings.listJoin(#fields.errors('year'), ' ')}">
                        Invalid year!</small>
                </div>
            </div>
            <div class="col-md-6">
                <label for="odometerInKm" class="col-form-label fs-6">Odometer (km):</label>
                <div>
                    <input th:field="*{odometerInKm}"
                           th:errorclass="'is-invalid bg-danger'"
                           id="odometerInKm"
                           name="odometerInKm"
                           type="number"
                           min="0"
                           max="400000"
                           class="form-control fs-6"
                           placeholder="NNN NNN">
                    <small id="odometerInKmError"
                           class="invalid-feedback rounded text-center"
                           th:text="${#strings.listJoin(#fields.errors('odometerInKm'), ' ')}">
                        Invalid odometer!</small>
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-md-6">
                <label for="engine" class="col-form-label fs-6">Engine Type: *</label>
                <div>
                    <select th:field="*{engine}"
                            th:errorclass="'is-invalid bg-danger'"
                            id="engine"
                            name="engine"
                            class="form-select"
                            aria-label="Default select example"
                            required>
                        <option value="" selected>Select engine type:</option>
                        <option th:each="engine : ${engineTypes}"
                                th:value="${engine}"
                                th:text="${engine}">Select engine type:
                        </option>
                    </select>
                    <small id="engineError"
                           class="invalid-feedback rounded text-center"
                           th:text="${#strings.listJoin(#fields.errors('engine'), ' ')}">
                        Invalid engine type!</small>
                </div>
            </div>

            <div class="col-md-6">
                <label for="transmission" class="col-form-label fs-6">Transmission: *</label>
                <div>
                    <select th:field="*{transmission}"
                            th:errorclass="'is-invalid bg-danger'"
                            id="transmission"
                            name="transmission"
                            class="form-select"
                            aria-label="Default select example"
                            required>
                        <option value="" selected>Select transmission:</option>
                        <option th:each="transmision : ${transmissions}"
                                th:value="${transmision}"
                                th:text="${transmision}">Select transmission: *
                        </option>
                    </select>
                    <small id="transmissionError"
                           class="invalid-feedback rounded text-center"
                           th:text="${#strings.listJoin(#fields.errors('transmission'), ' ')}">
                        Invalid model!</small>
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">

            <label for="year" class="col-form-label fs-6">Notes:</label>
            <div>
                    <textarea th:field="*{notes}"
                              th:errorclass="'is-invalid bg-danger'"
                              id="description"
                              name="description"
                              class="form-control fs-6"
                              placeholder="Some additional info ...">Notes</textarea>
                <small id="descriptionError"
                       class="invalid-feedback rounded text-center"
                       th:text="${#strings.listJoin(#fields.errors('notes'), ' ')}">
                    Invalid description!</small>
            </div>

        </div>

        <input type="submit" class="btn btn-danger mt-3 mb-3 fs-6" value="Submit"/>
    </form>
</section>


</body>
</html>

