<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
<header>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</header>

<section class="user_mainContainer_details container text-light ">
    <div class="container text-center rounded overflow-hidden">
        <div class="row row-cols-5 bg-dark">
            <div class="col-sm-1">#</div>
            <div class="col-lg-5">Cost Type</div>
            <div class="text-end col-md-2">Completed Amount in BGN</div>
            <div class="text-end col-md-2">Planned Amount in BGN</div>
            <div class="text-end col-md-2">Total Amount in BGN</div>
        </div>

        <th:block th:each="costType : ${detailedCostsView.getCostTypes()}"
                  th:if="${detailedCostsView.getCostSumInBGN(costType) > 0}">

            <div class="row row-cols-5 bg-dark">
                <div class="col-sm-1 py-1" th:text="${costType.ordinal()+1}">{#}</div>
                <div class="col-lg-5 py-1  text-start" th:text="${costType.getFormattedName()}">{Cost Type}</div>
                <div class="text-end col-md-2 py-1"
                     th:text="${#numbers.formatDecimal(detailedCostsView.getCostSumInBGN(costType, true), 2,  'WHITESPACE', 2, 'POINT')}">
                    {Completed Amount in BGN}
                </div>
                <div class="text-end col-md-2 py-1"
                     th:text="${#numbers.formatDecimal(detailedCostsView.getCostSumInBGN(costType, false), 2, 'WHITESPACE', 2, 'POINT')}">
                    {Planned Amount in BGN}
                </div>
                <div class="text-end col-md-2 py-1"
                     th:text="${#numbers.formatDecimal(detailedCostsView.getCostSumInBGN(costType), 2,  'WHITESPACE', 2, 'POINT')}">
                    {Total Amount in BGN}
                </div>
            </div>

            <div class="row row-cols-5 bg-secondary"
                 th:each="cost :${detailedCostsView.getCostsByType(costType)}">
                <div class="col-sm-1 py-1"></div>
                <div class="col-lg-5 py-1 text-start" th:text="'&emsp; &#10004 '+${cost.info()}">{Cost Info}</div>

                <div class="text-end col-md-2 py-1" th:text="${cost.completed
                ? #numbers.formatDecimal(cost.amountInBGN, 2, 'WHITESPACE', 2, 'POINT') : ''}">
                    {Cost Amount in BGN}
                </div>

                <div class="text-end col-md-2 py-1" th:text="${!cost.completed
                ? #numbers.formatDecimal(cost.amountInBGN, 2, 'WHITESPACE', 2, 'POINT') : ''}">
                    {Cost Amount in BGN}
                </div>

                <div class="text-end col-md-2 py-1"
                     th:text="${#numbers.formatDecimal(cost.amountInBGN, 2, 'WHITESPACE', 2, 'POINT')}">
                    Total Amount in BGN
                </div>
            </div>
        </th:block>
    </div>

    <div class="d-flex justify-content-between"
         sec:authorize="isAuthenticated()">
        <a th:href="@{/costs/add/{vihicleUuid}(vihicleUuid=${vehicle})}"
           class="btn btn-danger m-4">
            Add cost</a>
    </div>


</section>

</body>
</html>

