<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<header>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</header>

<section class="user_container_cards">
    <div class="user_subcontainer_cards">
        <article class="custom_card text-center bg-dark text-light" th:each="vehicle : ${vehicles}">
            <img th:if="${vehicle.primaryImage} !=null" th:src="${vehicle.primaryImage}" alt="Vehicle Primary Image">
            <img th:if="${vehicle.primaryImage} == null" th:src="@{/images/carBlackBasic.png}"
                 alt="Vehicle Primary Image">


            <h4 th:text="${vehicle.getSummaryTitle()}">{year make model}</h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-light">Engine Type:
                    <th:block th:text="${vehicle.engine}">{engine}</th:block>
                </li>
                <li class="list-group-item bg-dark text-light">Transmissions:
                    <th:block th:text="${vehicle.transmission}">{transmissions}</th:block>
                </li>
                <li class="list-group-item bg-dark text-light">VIN:
                    <th:block th:text="${vehicle.vin}">{vin}</th:block>
                </li>
                <li class="list-group-item bg-dark text-light">Odometer in km:
                    <th:block th:text="${vehicle.odometerInKm}">{odometer}</th:block>
                </li>
            </ul>

            <a th:href="@{/vehicles/details/{id}(id=${vehicle.id})}" class="btn btn-danger m-4">View Details</a>

        </article>

    </div>
    <div class="user_subcontainer_cards">
        <a th:href="@{/vehicles/all}" th:value="${vehicles.nextPageable()}"
           class="btn btn-danger  bg-transparent border-0">Next Page >>></a>
    </div>
</section>


</body>
</html>

<script type="text/javascript" th:src="@{/js/passwordsMatch.js}"></script>
