<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>

<body>
<header>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</header>

<section class="user_mainContainer_details">

    <section class="user_container_details">
        <div id="carouselExample" class="carousel slide ">
            <div class="carousel-inner">
                <div th:if="${vehicle.pictures.size() > 0}" class="carousel-item"
                     th:each="picture, iStat : ${vehicle.pictures}"
                     th:classappend="${iStat.first} ? 'active'">
                    <img th:src="${picture.url}" class="d-block w-100" alt="Vehicle Picture">
                </div>
                <div th:if="${vehicle.pictures.size() == 0}" class="carousel-item active">
                    <img th:if="${#strings.equals(vehicle.type, automobileType)}"
                         th:src="@{/images/carBlackBasic.png}" class="d-block w-100" alt="Vehicle Picture">
                    <img th:unless="${#strings.equals(vehicle.type, automobileType)}"
                         th:src="@{/images/motoBlackBasic.png}" class="d-block w-100" alt="Vehicle Picture">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="user_container_details">

        <div class="user_subcontainer_details bg-dark text-light stretch" >
            <div >
                <h4 class="me-3" th:text="${vehicle.getSummaryTitle()}">{year make model}</h4>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-light">Engine Type:
                        <th:block th:text="${vehicle.engine}">{engine}</th:block>
                    </li>
                    <li class="list-group-item bg-dark text-light">Transmissions:
                        <th:block th:text="${vehicle.transmission}">{transmissions}</th:block>
                    </li>
                    <li class="list-group-item bg-dark text-light">VIN:
                        <th:block th:text="${vehicle.vin}">{vin}</th:block>
                    </li>
                    <li class="list-group-item bg-dark text-light">Odometer in km:
                        <th:block th:text="${vehicle.odometerInKm}">{odometer}</th:block>
                    </li>
                    <li class="list-group-item bg-dark text-light">Notes:
                        <th:block th:text="${vehicle.notes}">{odometer}</th:block>
                    </li>
                </ul>
            </div>

            <div class="d-grid">
                <a th:href="@{/pictures/add/{vihicleUuid}(vihicleUuid=${vehicle.uuid})}"
                   sec:authorize="isAuthenticated()"
                   class="btn btn-danger m-4">Add picture </a>

                <a th:href="@{/vehicle/sell/{vihicleUuid}(vihicleUuid=${vehicle.uuid})}"
                   sec:authorize="isAuthenticated()"
                   class="btn btn-warning m-4"> Sell</a>
            </div>

        </div>

        <div class="user_subcontainer_details bg-dark text-light">
            <table class="table table-dark table-striped ">
                <thead>
                <th scope="col">#</th>
                <th scope="col">Cost Type</th>
                <th class="text-end" scope="col">Total Amount in BGN</th>
                </thead>

                <tbody class="table-group-divider">
                <tr th:if="${costEntry.getValue() > 0}" th:each="costEntry : ${vehicle.getTotalCostsByType()}">
                    <th scope="row" th:text="${costEntry.getKey().ordinal()+1}"></th>
                    <td th:text="${costEntry.getKey().getFormattedName()}"></td>
                    <td class="text-end"
                        th:text="${#numbers.formatDecimal(costEntry.getValue(), 2,  'WHITESPACE', 2, 'POINT')}"></td>
                </tr>
                </tbody>

                <tfoot class="table-group-divider">
                <th></th>
                <td>Total costs in BGN:</td>
                <td class="text-end"
                    th:text="${#numbers.formatDecimal(vehicle.getTotalCostsInBGN(),2,'WHITESPACE', 2, 'POINT')}"></td>
                </tfoot>
            </table>

            <div class="d-flex justify-content-between"
                 sec:authorize="isAuthenticated()">
                <a th:href="@{/costs/add/{vihicleUuid}(vihicleUuid=${vehicle.uuid})}"
                   class="btn btn-danger m-4">
                    Add cost</a>
                <a th:href="@{/costs/add/{vihicleUuid}(vihicleUuid=${vehicle.uuid})}"
                   class="btn btn-danger m-4">
                    View more</a>
            </div>
        </div>

    </section>
</section>

</body>
</html>

